@font-face {
    font-family: satoshi;
    src: url('./assets/fonts/Satoshi-Variable.ttf');
}
@font-face {
    font-family: satoshi-italic;
    src: url('./assets/fonts/Satoshi-VariableItalic.ttf');
}


body{
    font-family: satoshi;
    font-weight: 500;
}

.button>div{
transform: translateY(-100%);
transition: all .3s ease;
}
.button:hover>div{
    transform: translateY(0%);
    transition: all .3s ease;
    }


    .cursor {
        width: 20px;
        height: 20px;
        border: 2px solid #fefefe;
        background: white;
        border-radius: 100%;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 9999;
        mix-blend-mode: difference;
      }